@font-face {
    font-family: "METAFONT";
    src: url(fonts/GothamMedium.ttf) format("truetype");
}

@font-face {
    font-family: "METAFONT-BOLD";
    src: url(fonts/GothamBold.ttf) format("truetype");
}

html, body {
    min-height: 100% !important;
    height: 100%;
}


body {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#top-page {
    min-height: 100% !important;
    height: 100%;


    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0px;
    border: 0px;
    padding: 0px;

    font-family: "METAFONT", Verdana, Tahoma;
    /*background*/
    background-color: white;
    background-image: url("media/background.png");
    background-position-x: center;
    background-size: cover;
}


/*NAV BAR*/
#navlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    margin: 0px;
    border: 0px;
    padding: 0px;
    margin-left: 3rem;
    margin-right: 3rem;
}

#details {
    display: flex;
}

.navitem {
    margin-left: 40px;
    margin-right: 40px;
    position: relative;
    top: 0px;
    
    font-family: "METAFONT", Verdana, Tahoma;
    text-shadow: 5px 5px #000000;
    font-weight: 50;
    font-size: 1.5rem;
    color: white;
    
    transition: top 0.2s;
}

.navitem:hover {
    cursor: pointer;
    top: -10px;
}



/*INTRO BODY*/
#intro {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Montserrat', sans-serif;
}

@media (max-width : 950px) {
    #intro {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        font-family: 'Montserrat', sans-serif;
    }
}

#intro-content {
    color: rgb(201, 201, 201);
    line-height: 172.89%;
    width: 35%;

    text-align: center;
}

#intro-content h1 {
    color: white;
    font-family: "METAFONT", Verdana, Tahoma;
    font-size: 3.5rem;
}



/*DOWNBAR*/
#downbar-parent {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 30px;
}

#downbar {
    width: 10%;
    height: 5px;

    background-color: aliceblue;
    border-radius: 5px;
}


/*BOTTOM PAGE*/
#bottom-page {
    background-color: aliceblue;
    height: 100vh;
    width: 100%;
}











