@font-face {
    font-family: "METAFONT";
    src: url(fonts/GothamMedium.ttf) format("truetype");
}

@font-face {
    font-family: "METAFONT-BOLD";
    src: url(fonts/GothamBold.ttf) format("truetype");
}

html, body {
    min-height: 100% !important;
    height: 100%;
}


body {
    font-family: "METAFONT", Verdana, Tahoma;
    margin: 0px;
    border: 0px;
    padding: 0px;

    /*background*/
    background-image: url("media/background_nologo.png");
    background-position-x: center;
    background-size: cover;
}



/*NAV BAR*/
#navlist {

    margin: 0px;
    border: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.navitem {
    font-family: "METAFONT", Verdana, Tahoma;
    text-shadow: 5px 5px #000000;
    font-weight: 50;
    font-size: 1.5rem;
    margin: 40px;
    color: white;
}


/*INTRO BODY*/
#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;

    font-family: 'Montserrat', sans-serif;
}

#intro-content {
    color: rgb(201, 201, 201);
    line-height: 172.89%;
    width: 35%;
}

#intro-content h1 {
    color: white;
    font-family: "METAFONT", Verdana, Tahoma;
    font-size: 3.5rem;
}








