
:root
{
    --blue: rgb(43, 170, 255);
}

body {
    background-color: black;
}

#navbar
{
    user-select: none;
}

#nav-item
{
    user-select: none;
    text-decoration: none;
    transition: color 0.2s ease;
    color: white;
}

#nav-item:hover {
    transition: color 0.2s ease;
    color: var(--blue);
}

#nav-selected
{
    color: var(--blue);
}