@import url("./meta.css");

@font-face {
    font-family: "Gotham Bold";
    src: url("../assets/fonts/Gotham/GothamBold.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap');

body {
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    background-color: var(--main_bkg);
    color: white;
    display: flex;
    flex-direction: column;
}


/* NAVIGATION MENU */
#nav-menu {
    margin-top: 2%;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    user-select: none;
}

#nav-logo {
    height: 80px;
}

#nav-items {
    display: flex;
}

#nav-items #at {
    color: var(--blue);
}

#nav-items>* {
    padding-right: 60px;

    text-decoration: none;
    font-family: "Gotham Bold";
    font-size: 1.8rem;

    transition: color 0.2s;
    color: white;
}

#nav-items>*:hover {
    transition: color 0.2s;
    color: var(--blue);
}

/* LIST CONTENT */
#content {
    margin-top: 30px;
    /* background-color: gray; */
    height: 100%;
}

#path {
    /* background-color: blue; */
    height: 50px;
    display: flex;
    align-items: center;
}

#path>* {
    font-family: monospace;
    font-weight: bolder;
    font-size: 1.3rem;
    text-decoration: none;
    padding-left: 10px;
    user-select: none;
    display: flex;
    flex-direction: column;
}

.path-at {
    color: rgb(54, 178, 255);
}

.path-item:not(.path-at):hover {
    cursor: pointer;
    color: rgb(54, 178, 255);
}

#list>* {
    margin-top: 20px;
}

.list-item {
    transition: background-color 0.1s;
    background-color: rgb(24, 24, 24);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
}

.list-item:hover {
    transition: background-color 0.1s;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 8px black;
}

.list-item>.left {
    display: flex;
    flex-direction: column;
}

.list-item>.left>.title {
    margin: 0;
    margin-top: 20px;
    margin-left: 40px;
    font-family: "Gotham Bold";
    font-size: 1.4rem;
}

.list-item>.left .tags {
    display: flex;
    margin-left: 30px;
}

.list-item>.left>.tags>* {
    background-color: rgb(15, 15, 15);
    margin-left: 10px;
    font-family: monospace;
    border-radius: 3px;
    padding: 5px;
}

.list-item>.right {
    font-family: "Gotham Bold";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 200px;
}

.list-item>.right>* {
    margin: 0;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(161, 161, 161)
}

.code {
    font-family: monospace;
    background-color: rgb(27, 27, 27);
    padding: 16px;
    line-height: 160%;
    font-size: 1rem;
    display: flex;
    border-radius: 10px;
}

.code>.lines {
    width: 50px;
    text-align: center;
    user-select: none;
    color: rgb(80, 80, 80);
    font-weight: bolder;
}

.code>.text {
    width: 100%;
    /* font-weight: bold; */
}

.code>.text::selection {
    background: rgb(90, 90, 90);
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
    #nav-menu {
        display: none;
    }
}